<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
     <script type="text/javascript" src="app.js">  </script>
<title>Assignment Module 2</title>
  <style>
    footer {
      border-top: solid 1px gray;
      font-size: 0.8em;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Assignment Module 2</h1>
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <h2>Shopping List Check Off</h2>
      </div>
    </header>
    <div class="row">
      <div class="col-md-6">
        <div ng-controller="ToBuyShoppingController as listToBuy">
          <h2>To Buy</h2>
          <ol>
            <div ng-show="listToBuy.items.length > 0">
              <li ng-repeat="item in listToBuy.items;"> Buy
                {{ item.quantity }} of {{ item.name }}
              <div>
                <button class="btn btn-primary btn-xs" ng-click="listToBuy.checkOff($index);">Bought</button>
                <br>
              </div>
              </li>
            </div>
            <div ng-show="listToBuy.items.length == 0">
              <p>All items bought!</p>
            </div>
          </ol>
        </div>
      </div>

      <div class="col-md-6">
        <div ng-controller="AlreadyBoughtShoppingController as listBought">
          <h2>Already Bought</h2>
          <div ng-show="listBought.items.length > 0">
            <ol>
              <li ng-repeat="item in listBought.items;">{{ item.quantity }} of {{ item.name }}</li>
            </ol>
          </div>
          <div ng-show="listBought.items.length == 0">
            <p>Nothing bought yet!</p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
