<!DOCTYPE html>
<html lang="en" >
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="app.js"></script>
  <meta charset="UTF-8">
  <title>Module 1 Assignment</title>
  <style>
    .container {
      width: 800px;
      margin: 0 auto;
      font-family: Verdana, Helvetica, sans-serif;
    }
  input.ok{ border-color: green; }
  input.notOk{ border-color: red; }
  output.ok{ color: green; border-color: green; }
  output.notOk{ color: red; border-color: red; }
  </style>
</head>
<body ng-app="LunchCheck">
  <div class="container" ng-controller="LunchCheckController">
    <h1>Module 1 Assignment</h1>
    <div class="row">
      <div class="col-md-12">
        <p>
          <label ng-for="foodString">Enter food items: </label>
          <input type="text" ng-model="name" ng-class="{ok: resultOk, notOk: resultOk == false}">
          <button ng-click="checkItems();">Check if too much</button>
        </p>
        <p>
          <output ng-class="{ok: resultOk, notOk: !resultOk}">{{resultString}}</output>
        </p>
          </div>
    </div>
  </div>
</body>
</html>
